input[type="search"] {
    height: 64px !important; /* or height of nav */
}

.input-field input[type=search]:focus {
    background-color: transparent !important;
}

.materialboxed {
    display: block;
    margin: auto;
}

.card-content li {
    margin-top: 7px;
    margin-bottom: 7px;
}